header {
	height: 60px;
	top: 0px;
	width: 100%;
	padding: 3px;
	position: fixed;
	font-size: 34px;
	font-family: cursive;
	justify-content: center;
	background-image: url("../images/wine-background.jpg");
	background-color: #6f737a;

}

.header-text {
	color: #ffffff;
	position: relative;
	font-size: 40px;
	top: 1px;
	right: 20px;
}

.header-text:hover {
	text-decoration: none;
	color: #ccffff;
}

.btn-header {
	margin: -12px 0 0 0;
	width: 100px;
	border: none;
	font-family: Verdana;
}

.nav-logo {
	height: 40px;
	width: 30px;
	margin-left: 10px;
}

.btn-home {
	height: 80px;
	width: 160px;
	margin: 24px 5px 0 5px;
	border-radius: 10px;
	font-family: Verdana;
	font-weight: 300;
	font-size: 24px;
}

.btn-success { background-color: #00b300; }

.btn-danger { background-color: #b30000; }

.btn-note { 
	margin: 100px auto 30px auto;
	box-shadow: 1px 2px 6px #002933;
 }

.btn-answer {
	padding: 10px;
	box-shadow: 1px 2px 6px #002933;
}

#quiz-question {
	font-family: Verdana, Arial;
	font-weight: 700;
	margin-bottom: 20px;
}

.quiz-answer {
	left: 25%;
	margin-top: 2px;
}

#correct {
	color: #00ff00;
	font-size: 34px;
	text-shadow: 1px 1px 1px #008000;
	display: none;
}

#incorrect {
	color: red;
	font-size: 34px;
	text-shadow: 1px 1px 2px #800000;
	display: none;
}

#next {
	display: none;
	width: 100px;
}

body {
	margin-top: 100px;
	background-color: #005266;
	color: white;
	position: static;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
	font-style: none;
}
.home {
	background-color: black;
}

#home-img {
	height: 150px;
	width: 100px;
}

.home-pitch  {
	font-size: 10px;
	font-family: cursive;
	color: white;
	width: 100%;
	height: 360px;
	position: static;
	margin: 40px 0 50px 0;
	padding: 50px;
	text-align: center;
	justify-content: center;
	background-color: #005266;
	border-radius: 10px;
}

.home-pitch h1 {
	display: inline-block;
	vertical-align: middle;
	font-size: 70px;
}

.home-pitch a {
	text-decoration: none;
}

.home-pitch a:hover {
	color: #ccffff;
}

/*.home-pitch:click {
	text-decoration: none;
	color: orange;
}*/

#home-tagline {
	font-family: Verdana;
	font-size: 26px;
}

#keyboard {
	-webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
	color: white;
	display: flex;
	flex-direction: row;
	/*flex: 1;*/
	width: 95%;
	background-color: #262626;
	margin: 10% 0 0 2.5%;
	align-content: center;
	padding: 25px;
	font-size: 30px;
	border-radius: 12px;
	box-shadow: 10px 1px 20px #000000;
}

#keys {
	display: flex;
	/*flex: 1;*/
	background-color: white;
	align-content: center;
}
.white {
	display: inline-flex;
	/*flex: 1;*/
	flex: 1;
	align-items: flex-end;
	height: 500px;
	border: 1px solid black;
	border-radius: 4px 4px 15px 15px;
	color: #ff99ff;
	background-color: white;
	justify-content: center;
	margin: 0 0;
	/*box-shadow: 10px 10px 10px #000000;*/
	box-shadow: 10px 0px 10px #000000;
}

.white:active {
	/*background-color: #e6e6e6;*/
	color: black;
	box-shadow: inset 0px 0px 10px #000000;
}

.white:hover {
	/*border-color: pink;*/

}


.black {
	display: inline-flex;
	position: relative;
	align-items: flex-end;
	flex: .7;
	height: 300px;
	justify-content: center;
	border-radius: 4px 4px 10px 10px;
	color: #ff99ff;
	background-color: black;
	border: 1px solid black;
	margin: 0 -5%;
}
.black:active {
	background-color: #333333;
	color: white;
	width: 290px;
}

.black:hover {
	border: 1px solid pink;
}
